/* styles.css */

/* Global */

*{
    justify-content: center;
    text-align: center;
}

body{
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 100;
    color:aliceblue;
    animation: fadeInAnimation ease 4s;
    text-decoration: none;
    background:#ef75b8;
}

/* Header, paragraph, hint formatting */

h1 {
    text-align: center;
    margin-top:15%;
}

p {
    font-size: 18px;
    line-height: 1.5;
    animation: fadeInAnimationS ease 4.5s;
}

#hint{
    animation: fadeInAnimationS ease 7s;
}

#bubbles{ /* This is the word "Bubbles!" and delaying it to show up later than "Hello," */
    animation: fadeInAnimationS ease 2s;
}

/* Animations for fading in/out words */

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInAnimationS {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Formatting for the beating heart */

#heart{
    font-size:120px;
    color:#f20044;
    text-shadow:-10px 10px 90px #f20044;
    pointer-events: none;
}

#heartID{
    animation: heart 0.8s linear infinite; /* Applying beating animation */
}

.heart i {
    pointer-events: auto; /* Add mouse pointer effect */
}

/* Animation itself for making the heart "beat" */

@keyframes heart{
    0%{
        transform: scale(1)
    }
    60%{
        transform: scale(.95)
    }
    90%{
        transform: scale(.90)
    }
    100%{
        transform: scale(1)
    }
}

/* Formatting for "yes" button, we do not format "no" because it is the 
same styling as the heart button.  */

#yes{
    color:rgb(57, 255, 136) !important;
    text-shadow:-5px 5px 90px rgb(57, 255, 136) !important;
    margin-right:10% !important;
}


